{% extends "base.html" %}

{% block content %}
    <h1 style="margin-bottom: 20px;">TODO list
      <a class="btn btn-primary link-to-page" href="{% url 'todo-list:create' %}">Add task</a>
    </h1>

    {% if task_list %}
      {% for task in task_list %}
        <div style="border-bottom: 1px solid rgba(199,199,199,0.49)">
          <h5 style="margin-bottom: 20px; padding-top: 20px;">
            <strong>{{ task.content }}</strong>


          {% if task.done_or_not %}
            <strong style="color: green">Done</strong>
            <a class="btn btn-secondary link-to-page" href="{% url 'todo-list:switch_assignment' pk=task.pk %}">Undo</a>
          {% else %}
            <strong style="color: #f50202">Not done</strong>
            <a class="btn btn-success link-to-page" href="{% url 'todo-list:switch_assignment' pk=task.pk %}">Complete</a>
          {% endif %}

          </h5>
          <p style="color: #545454; margin-bottom: 20px; font-weight: bold; font-size: 12px">Created: {{ task.datetime }}
          {% if task.deadline %}
            <span style="color:#8c0101">Deadline:  {{ task.deadline }}</span>
          {% endif %}
          </p>
          <h5 style="padding-bottom: 10px; font-weight: bold; color: #8c8c8c">
            Tags: {% for tag in task.tags.all %}
              {{ tag.name }}
            {% endfor %}
            <a href="{% url 'todo-list:update' task.pk %}">Update</a>
            <form style="display: inline" id="deleteForm" method="POST" action="{% url 'todo-list:delete' task.pk %}">
              {% csrf_token %}
              <button class="button-to-a-tag" style="font-weight: bold;" id="deleteButton" type="submit">
                <a href="">Delete</a></button>
            </form>
            <!-- Modal window to confirm deletion -->
              <div id="deleteModal" class="modal">
                <div style="color:#000;" class="modal-content">
                  <h4>Confirm deletion</h4>
                  <p style="font-size: 16px; font-weight: normal">Are you sure you want to remove this task?</p>
                  <form id="confirmDeleteForm" method="POST" action="{% url 'todo-list:delete' task.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-danger" id="confirmDeleteButton" type="submit">Delete</button>
                    <button class="btn btn-secondary" id="cancelDeleteButton" type="button">Cancel</button>
                  </form>
                </div>
              </div>
          </h5>
        </div>
      {% endfor %}

  {% else %}
    <p>There are no task Todo-list</p>
  {% endif %}




  <script>
    // Обработчик клика по кнопке удаления
    document.getElementById('deleteButton').addEventListener('click', function(event) {
      event.preventDefault(); // Отменяем обычную отправку формы
      document.getElementById('deleteModal').style.display = 'block'; // Показываем модальное окно
    });

    // Обработчик клика по кнопке отмены удаления в модальном окне
    document.getElementById('cancelDeleteButton').addEventListener('click', function(event) {
      event.preventDefault();
      document.getElementById('deleteModal').style.display = 'none'; // Скрываем модальное окно
    });
  </script>
{% endblock %}



